# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Results - Ignore these specifically
results/
cdmec_analysis_reports/
Study_Summary/
*.log

# Ignore all CSV/TSV by default...
*.csv
*.tsv

# ...BUT allow files inside the example folder so users can test it!
!example/*.csv
!example/*.tsv
!metadata/*.csv
!metadata/*.tsv
